@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: #e5e5e5;
}

.app-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 1200px;
}

.app-row {
	margin-right: -16px;
	margin-left: -16px;
}

.app-product-list {
	padding: 24px 0;
	display: flex;
	flex-wrap: wrap;
}

.app-product-list-title {
	margin-top: 32px;
	color: #000;
	font-size: 1.75rem;
}

.app-product {
	flex-basis: calc(100% - 32px);
	margin: 0 16px 32px;
	padding: 32px;
	background-color: #fff;
	border-radius: 8px;
	transition: box-shadow ease-in 0.3s;
}

.app-product:hover {
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.app-product-figure {
	position: relative;
}

.app-product-image {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
}

.app-product-wishlist {
	position: absolute;
	top: 0;
	right: 0;
	height: 48px;
	width: 48px;
	cursor: pointer;
	color: #1c1c1c;
	background-color: #f2f3f6;
	border-radius: 50%;
	transition: all ease-in .3s;
}

.app-product-wishlist:hover {
	color: #DA4B4F;
	background-color: #fee5ec;
}

.app-product-wishlist-active {
	color: #fff;
	background-color: #da4b4f;
}

.app-product-wishlist-active:hover {
	background-color: #c22539;
}

.app-product-wishlist-active,
.app-product-wishlist-active:hover {
	color: #fff;
}

.app-product-wishlist-active > svg,
.app-product-wishlist-active:hover > svg {
	fill: #fff;
}

.app-product-content {
	margin-top: 32px;
	margin-bottom: 32px;
}

.app-product-name {
	margin-bottom: 24px;
	min-height: 60px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 20px;
}

.app-product-price-text {
	display: block;
	margin-bottom: 4px;
}

.app-product-price-text:last-child {
	margin-bottom: 0;
}

.app-product-list-price {
	color: #b5b5b6;
	font-size: 0.825rem;
	text-decoration: line-through;
}

.app-product-sales-price {
	color: #da4b4f;
	font-size: 1.25rem;
	font-weight: 600;
}

.app-product-price-installments {
	color: #848587;
	font-size: 0.75rem;
}

.app-product-price-installments > b {
	color: #000;
	font-weight: 500;
}

.app-product-button {
	display: block;
	padding: 12px 24px;
	width: 100%;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	background-color: #40b25c;
	border-radius: 5px;
	transition: background-color ease-in 0.3s;
}

.app-product-button > svg {
	opacity: 0;
}

.app-product-button:hover {
	background-color: #1c6c3e;
}

.app-product-button-active,
.app-product-button-active:hover {
	color: #000;
	background-color: #a3f9b9;
}

.app-product-button-active > svg,
.app-product-button-active:hover > svg {
	opacity: 1;
	margin-bottom: -2px;
	margin-right: 8px;
}

@media (min-width: 600px) {
	.app-product {
		flex-basis: calc(50% - 32px);
	}
}

@media (min-width: 910px) {
	.app-product {
		flex-basis: calc(33.33333% - 32px);
	}
}